@font-face {
    font-family: upheaval;
    src: url(upheavtt.ttf);
}

@font-face {
    font-family: easvhs;
    src: url(easvhs.ttf);
}

.main{
    justify-content: center;
    align-items: center;
    font-family: upheaval;
    background-color: white;
    position: relative;  
}

.typewriter-animation {
    color: black;
    display: flex;
    font-size: 2.8em;
    overflow: hidden;
    border-right: .1em solid #fbc531;
    height: 64px;
    white-space: nowrap;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: -1em;
    letter-spacing: .05em;
    text-align: center;
    align-items: center;
}

@keyframes typing1 {
    from { width: 0 }
    to { width: 46% }
}

.round-lottie {
    border-radius: 25px;
    overflow: hidden;
}

.box {
    overflow: hidden;
    position: relative;
    width: 20em;
    height: 20em;
    margin-top: 8%;
    margin-left: 16%;
    background-color: #faecb0;
    box-shadow: 12px 12px black;
    border-radius: 25px;
    border-style: solid;
    border-color: black;
    z-index: 1;
}

.text {
    display: flex;
    position: absolute;
    color: black;
    font-family: easvhs;
    letter-spacing: .14em;
    font-size: 28px;
    margin-right: 8%;
    left: 50%;
    top: 24%;
}

.p1 {
    display: flex;
    font-size: 12px;
    letter-spacing: .1em;
    line-height: 1.5;
    text-align: justify;
    top: 5em;
    margin-right: 7em;
}

.p2 {
    display: flex;
    position: absolute;
    font-size: 12px;
    letter-spacing: .1em;
    line-height: 1.5;
    text-align: justify;
    top: 12.8em;
    margin-right: 7em;
}

.a{
    text-decoration: none;
    text-align: left;
}

.button {
    left: 49%;
    position: relative;
    font-family: easvhs;
    font-size: 12px;
    background-color: #F1C40F;
    color: black;
    padding: 8px 16px;
    box-shadow: 6px 6px black;
    border-radius: 8px;
    border-style: solid;
    border-color: black;
    cursor: pointer;
}

.button1 {
    position: absolute;
    top: 90%;
    margin-left: 1%;
}

.button2 {
    position: absolute;
    top: 90%;
    margin-left: 9.2%;
}

.button3 {
    position: absolute;
    top: 90%;
    margin-left: 16%;
}

.button:hover {
    background-color: green;
    color: white;
    box-shadow: 3px 3px black;
    transform: translateY(6px) translateX(6px);/
}

.button1:hover {
    position: absolute;
}

.button2:hover {
    position: absolute;
}

.footer_t {
    position: absolute;
    color: rgba(0, 0, 0, 50%);
    top: 132%;
    margin: 0;
    font-family: easvhs;
    font-size: 12px;
    text-align: center;
    width: 100%;
    height: 24px;
}

.login_pg {
    overflow: hidden;
}

.icon {
    position: relative;
    width: 3em;
    margin-top: 2em;
    margin-left: 2em;
}

.form {
    width: 55em;
    height: 30em;
    background-color: #faecb0;
    border-radius: 30px;
    margin: 5em auto;
    box-shadow: 10px 10px black;
    border-style: solid;
    border-color: black;
}

.img_form{
    width: 27.5em;
    height: 30em;
    background-color: black;
    background-repeat: no-repeat;
    border-radius: 30px 0 0 30px;
}

.form_lg {
    position: relative;
}

.stars {
    width: 28em;
    height: 30em;
}

.text_lg {
    text-align: center;
}

.text_lg {
    font-family: upheaval;
    letter-spacing: .125em;
    overflow: hidden;
    border-right: .12em solid #fbc531;
    font-size: 3em;
    margin-left: 11.5em;
    margin-top: -9em;
    margin-bottom: 1em;
    white-space: nowrap;
    animation: typing 5s steps(10, end) forwards, blink-caret .9s infinite;
}

@keyframes typing {
    from { width: 0 }
    to { width: 48% }
}
  
@keyframes blink-caret {
    from { border-color: transparent }
    10% { border-color: #fbc531; }
    to {border-color: transparent;}
}

.inp {
    position: absolute;
    padding: 16px 100px;
    border-radius: 8px;
    background-color: beige;
    left: 35em;
    box-shadow: 5px 5px black;
}

.inp2 {
    top: 10em;
}

.inp1 {
    top: 15em;
}

.inp3 {
    top: 20em;
}

.inp4 {
    top: 12em;
}

.inp5 {
    top: 17em;
}

.inp::placeholder {
    position: absolute;
    font-family: easvhs;
    font-size: 18px;
    margin-left: -5em;
    padding-left: -50px;
    color: lightgrey;
    justify-content: left;
    outline: none;
    text-align: left;
}

.submit {
    font-family: easvhs;
    background-color: #F1C40F;
    position: relative;
    padding: 14px 50px;
    top: 10em;
    left: 45em;
    border-radius: 8px;
    box-shadow: 5px 5px black;
    cursor: pointer;
}

.submit:hover {
    background-color: green;
    color: white;
    top: 10.2em;
    left: 45.2em;
    box-shadow: 2px 2px black;
}

.text_rg {
    font-family: upheaval;
    letter-spacing: .125em;
    overflow: hidden;
    border-right: .12em solid #fbc531;
    font-size: 3em;
    margin-left: 11em;
    margin-top: -9em;
    margin-bottom: 1em;
    white-space: nowrap;
    animation: typing2 5s steps(10, end) forwards, blink-caret .9s infinite;
}

@keyframes typing2 {
    from { width: 0 }
    to { width: 65% }
}

.link {
    font-family: easvhs;
    font-size: .9em;
    text-decoration: none;
    position: relative;
    top: .7em;
    left: 45em;
}

.link2 {
    left: 43em;
    top: 10em;
}

.link3 {
    top: 9em;
}

.menu {
    display: inline-block;
    position: relative;
}

.menu_img {
    width: 2.5em;
    position: relative;
    top: 1em;
    left: 2em;
}
 
.menu_content {
    display: none;
    position: relative;
    background-color: black;
    color: white;
    min-width: 160px;
    margin: -2.2em 1em;
    padding: 12px 16px;
    border-radius: 10px;
    border: solid 2px white;
    box-shadow: 6px 6px black;
    z-index: 1;
    transition-delay: 2s;
}

.link_content {
    text-decoration: none;
    font-family: easvhs;
}

.text_content {
    color: white;
    position: relative;
    padding-top: 1em;
    left: .6em;
}

.pseudo_btn {
    background-color: transparent;
    border: none;
}

.menu:focus-within .menu_content {
    display: block;
    position: absolute;
}

.cross {
    position: relative;
    top: 1em;
    left: .5em;
    margin-bottom: 1em;
    width: 1.3em;
    animation: transform 1s forwards;
}

@keyframes transform {
    from {transform: rotate(0);}
    100% {transform: rotate(90deg);}
}

.footer {
    width: 101.4%;
    height: 12%;
    margin: 0;
    position: absolute;
    bottom: -38%;
    left: -.8%;
}

.hmif {
    position: absolute;
    width: 2%;
    padding-left: 2.4%;
    bottom: -36%;
}

.if {
    position: absolute;
    width: 2.6%;
    padding-left: 6.4%;
    bottom: -36%;
}

.usk {
    position: absolute;
    width: 2%;
    padding-left: 11%;
    bottom: -36%;
}

.vote {
    overflow: hidden;
}

.countdown {
    color: red;
    position: absolute;
    padding: 0px 60px;
    font-family: easvhs;
    font-size: 1em;
    background-color: white;
    border: solid red 3px;
    border-radius: 15px;
    left: 52em;
    top: 8em;
}

.text_v {
    font-family: upheaval;
    font-size: 44px;
    overflow: hidden;
    border-right: .12em solid #fbc531;
    white-space: nowrap;    
    letter-spacing: 0.05em;
    position: absolute;
    left: 18.2em;
    top: 0;
    animation: typing3 2s steps(15, end) forwards, blink-caret .9s infinite;
}

@keyframes typing3 {
    from { width: 0 }
    to { width: 13% }
}

.box_va {
    position: absolute;
    width: 20em;
    height: 25em;
    background: beige;
    top: 14em;
    left: 30em;
    border-radius: 15px;
    border: solid black 1px;
    box-shadow: black 8px 8px;
}

.box_vb {
    position: absolute;
    width: 20em;
    height: 10em;
    bottom: 0;
    background: black;
    border-radius: 0 0 14px 15px;
}

.cndt {
    width: 100%;
    border-radius: 15px;
}

.info {
    font-family: easvhs;
    font-size: 24px;
    text-align: center;
    color: white;
}

.name_p {
    margin-top: 1.5em;
    letter-spacing: .12em;
}

.let {
    font-size: 18px;
    margin-top: 2.5em;
    letter-spacing: .11em;
}

.box_vbi{
    position: absolute;
    left: 65em;
}

.btn_v {
    position: absolute;
    font-family: easvhs;
    font-size: 17px;
    letter-spacing: .17em;
    width: 19em;
    height: 3em;
    background: #F1C40F;
    border-radius: 12px;
    top: 39em;
    left: 28.2em;
    box-shadow: black 6px 6px;
}

.btn_v2 {
    position: absolute;
    left: 61.2em;
}

.btn_v:hover {
    position: absolute;
    background: green;
    color: white;
    top: 39.2em;
    left: 28.4em;
    box-shadow: black 2px 2px;
}

.btn_v2:hover {
    position: absolute;
    left: 61.4em;
}