.typewriter-animation {
    overflow: hidden;
    border-right: .12em solid #fbc531;
    white-space: nowrap;
    margin: 0 auto;
    letter-spacing: .05em;
    animation-name: typewriter;
}
  
@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}
  
@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: #fbc531; }
}